<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shader</title>
  <style>
    body{
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <div id="webgl"></div>
</body>
<script type="text/javascript" src="../../learnFile/shader/spector.bundle.js"></script>
<script type="importmap">
  {
    "imports": {
      "three": "../../build/three.module.js",
      "three/addons/": "../../examples/jsm/"
    }
  }
</script>
<script src="../../learnFile/shader/shaderlz.js" type="module"></script>
</html>