<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shader</title>
  <style>
    body{
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <div id="webgl"></div>
</body>
<!-- <script type="text/javascript" src="../learnFile/shader/spector.bundle.js"></script> -->
<script type="importmap">
  {
    "imports": {
      "three": "../../../build/three.module.js",
      "three/addons/": "../../../examples/jsm/"
    }
  }
</script>
<script type="module">
import * as THREE from 'three';
import { initRenderer, initCamera, initStats, addHouseAndTree } from './utils.js';
import { OrbitControls } from 'three/addons/controls/OrbitControls.js';
import { GUI } from 'three/addons/libs/lil-gui.module.min.js';

let w = window.innerWidth;
let h = window.innerHeight;

let renderer, camera, scene, stats;

function init() {
  // stats = initStats();
  renderer = initRenderer();
  camera = initCamera();
  camera.lookAt(0, 0, 0);

  scene = new THREE.Scene();

  const axes = new THREE.AxesHelper(20);
  // scene.add(axes);

  const ambientLight = new THREE.AmbientLight("#ffffff", 1);
  scene.add(ambientLight);

  const light = new THREE.DirectionalLight(0xffffff, 2);
  // scene.add(new THREE.DirectionalLightHelper(light, 1));

  light.shadow.mapSize.set(2048, 2048);
	light.position.set(-30, 15, 20);
  light.shadow.radius = 4;
  light.castShadow = true;

  light.shadow.camera.top = 20;
  light.shadow.camera.bottom = -200;
  light.shadow.camera.left = -200;
  light.shadow.camera.right = 200;
  light.shadow.camera.near = 0.5;
  light.shadow.camera.far = 200;

  // scene.add(new THREE.CameraHelper(light.shadow.camera));
  scene.add(light);

  scene.rotation.y -= Math.PI / 4;
  // 房屋模型
  addHouseAndTree(scene);

  // const controls = setupControls();
  const cont = new OrbitControls(camera, renderer.domElement);

  let phase = 0;

  function render() {
    phase += 0.02;
    light.position.z = 1 + (10 * Math.cos(phase));
    light.position.y = 10 + (20 * Math.abs(Math.sin(phase)));
    renderer.render(scene, camera);
    requestAnimationFrame(render);
  }
  render();

  function setupControls() {
    var controls = new function () {
      this.intensity = ambientLight.intensity;
      this.ambientColor = ambientLight.color.getStyle();
      this.disableSpotlight = false;
    };

    var gui = new GUI();
    gui.add(controls, 'intensity', 0, 3, 0.1).onChange(function (e) {
      ambientLight.color = new THREE.Color(controls.ambientColor);
      ambientLight.intensity = controls.intensity;
    });
    gui.addColor(controls, 'ambientColor').onChange(function (e) {
      ambientLight.color = new THREE.Color(controls.ambientColor);
      ambientLight.intensity = controls.intensity;
    });
    gui.add(controls, 'disableSpotlight').onChange(function (e) {
      spotLight.visible = !e;
    });

    return controls;
  }
}

init();



</script>
</html>